version: '3.7'
services:
  tempo:
    image: grafana/tempo:main-afb0389
    user: root
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./conf/tempo-local.yaml:/etc/tempo.yaml:z
      - ./data/tempo:/tmp/tempo:z
    ports:
      - "14268"

  loki:
    image: grafana/loki:main-f1bbdc5
    user: root
    command: [ "-config.file=/etc/loki/local-config.yaml" ]
    volumes:
      - ./data/loki:/loki:z
    ports:
      - "3100:3100"

  promtail:
    image: grafana/promtail:main-f1bbdc5
    command: -config.file=/etc/promtail/promtail-config.yaml
    volumes:
      - ./conf/promtail-config.yaml:/etc/promtail/promtail-config.yaml:z
      - /var/run/docker.sock:/var/run/docker.sock:z

  prometheus:
    image: prom/prometheus:v2.46.0
    user: root
    volumes:
      - ./conf/prometheus.yaml:/etc/prometheus/prometheus.yaml:z
      - ./targets.nodes.json:/etc/prometheus/targets.nodes.json:z
      - ./data/prometheus:/prometheus:z
    command: "--config.file=/etc/prometheus/prometheus.yaml --storage.tsdb.path=/prometheus"
    ports:
      - 9090:9090

  pushgateway:
    image: prom/pushgateway:v1.6.0
    ports:
      - 9091:9091

  exporter:
    image: prom/node-exporter:v1.6.1
    ports:
      - "9100:9100"

  grafana:
    image: grafana/grafana:10.0.4
    volumes:
      - ./conf/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:z
      - ./conf/grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml:z
      - ./conf/grafana-localnet.json:/etc/grafana/provisioning/dashboards/localnet.json:z
      - ./conf/grafana-exec-sync.json:/etc/grafana/provisioning/dashboards/exec-sync.json:z
      - ./conf/grafana.ini:/etc/grafana/grafana.ini
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - "3000:3000"
