# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Since we have integration_tests that uses node
node_modules

.DS_Store

bamboo
bamboo.mnemonic
 
.idea

# IDE related files
.vscode

#relic submodule
pkg/crypto/relic/*
