# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# The result of running our build scripts
donotcommit 

# Since we have integration_tests that uses node
node_modules

.DS_Store

bamboo
bamboo.mnemonic
