# For caching docker layers, we're trying out https://github.com/travis-ci/travis-ci/issues/5358#issuecomment-248915326
language: go
go_import_path: github.com/dapperlabs/flow-go

branches:
  only:
  - master
  
services:
  - docker

before_cache:
  # Save tagged docker images
  - >
    mkdir -p $HOME/docker && docker images -a --filter='dangling=false' --format '{{.Repository}}:{{.Tag}} {{.ID}}'
    | grep -v flow-go_ | grep -v flowgo_
    | xargs -n 2 -t sh -c 'test -e $HOME/docker/$1.tar.gz || docker save $0 | gzip -2 > $HOME/docker/$1.tar.gz'

before_install:
  # Load cached docker images
  - if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"; fi

cache:
  bundler: true
  directories:
    - $HOME/docker
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod

script:
  - make ci
