[Unit]
Description=Flow Consensus Node running with Docker
After=network-online.target

[Install]
WantedBy=default.target

[Service]
Type=simple

RestartSec=5s
Restart=always

StandardOutput=journal

EnvironmentFile=/srv/flow/runtime-conf.env
EnvironmentFile=-/srv/flow/conf.d/*.env

ExecStartPre=docker pull gcr.io/flow-container-registry/flow-consensus:${FLOW_GO_NODE_VERSION}
ExecStart=docker run --rm \
	-v /srv/flow/bootstrap:/bootstrap:ro \
	-v /srv/flow/data:/data:rw \
	--rm \
	--name flow-go \
	--network host \
	gcr.io/flow-container-registry/flow-consensus:${FLOW_GO_NODE_VERSION} \
	--nodeid=${FLOW_GO_NODE_ID} \
	--bootstrapdir=/bootstrap \
	--datadir=/data/protocol \
	--rpc-addr=0.0.0.0:3569 \
	--ingress-addr=${FLOW_NETWORK_COLLECTION_NODE} \
	--script-addr=${FLOW_NETWORK_EXECUTION_NODE}
