[Unit]
Description=Flow Execution Node running with Docker
Requires=docker.service
After=network-online.target docker.service

[Install]
Alias=flow.service
WantedBy=default.target

[Service]
Type=simple
TimeoutStopSec=1m

RestartSec=5s
Restart=always

StandardOutput=journal

EnvironmentFile=/etc/flow/runtime-conf.env
EnvironmentFile=-/etc/flow/conf.d/*.env

ExecStartPre=docker pull gcr.io/flow-container-registry/execution:${FLOW_GO_NODE_VERSION}
ExecStart=docker run --rm \
	-v /var/flow/bootstrap:/bootstrap:ro \
	-v /var/flow/data:/data:rw \
	--rm \
	--name flow-go \
	--network host \
	gcr.io/flow-container-registry/execution:${FLOW_GO_NODE_VERSION} \
	--nodeid ${FLOW_GO_NODE_ID} \
	--bootstrapdir /bootstrap \
	--datadir /data/protocol \
	--secretsdir /data/secrets \
	--triedir /data/execution \
	--rpc-addr 0.0.0.0:9000 \
	--bind 0.0.0.0:3569 \
	--loglevel ERROR
