global:
  scrape_interval:     15s
  evaluation_interval: 15s
scrape_configs:
  - job_name: prometheus
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: node
    scrape_interval: 15s
    static_configs:
      - targets: ["exporter:9100"]
  - job_name: flow
    scrape_interval: 5s
    file_sd_configs:
      - files:
          - "/etc/prometheus/targets.nodes.json"
