name: CD

on:
  push:
    tags: 
      - '*'
      - "!daily-*"

jobs:
  docker-push:
    name: Push to container registry
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.18'
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Build relic
      run: make crypto_setup_gopath
    # Provide Google Service Account credentials to Github Action, allowing interaction with the Google Container Registry
    # Logging in as github-actions@dl-flow.iam.gserviceaccount.com
    - name: Docker login
      uses: docker/login-action@v1
      with:
        registry: gcr.io
        username: _json_key
        password: ${{ secrets.GCR_SERVICE_KEY }}
    - name: Docker build
      run: make docker-build-flow
    - name: Docker push
      run: make docker-push-flow
