name: CD

on:
  push:
    tags: 
      - '*'
      - "!daily-*"

jobs:
  docker-push:
    name: Push to container registry
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v2
      timeout-minutes: 2 # fail fast. sometimes this step takes an extremely long time
      with:
        go-version: "1.20"
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Build relic
      run: make crypto_setup_gopath
    # Provide Google Service Account credentials to Github Action, allowing interaction with the Google Container Registry
    # Logging in as github-actions@dl-flow.iam.gserviceaccount.com
    - id: auth
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCR_SERVICE_KEY_SECRET }}
    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
    - name: Authenticate docker with gcloud
      run: |
        gcloud auth configure-docker
    - name: Docker build
      run: |
        make docker-build-flow
        make docker-build-flow-without-netgo
    - name: Docker push
      run: |
        make docker-push-flow
        make docker-push-flow-without-netgo
