name: Flaky Test Debug

on:
  push:
    branches:
      - '**/*flaky-test*'
env:
  GO_VERSION: 1.19

jobs:
  golangci:
    strategy:
      fail-fast: false
      matrix:
        dir: [./, ./integration/, ./crypto/, ./insecure/]
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - name: Build relic
        run: make crypto_setup_gopath
      - name: Run go generate
        run: go generate
        working-directory: ${{ matrix.dir }}
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.49
          args: -v --build-tags relic
          working-directory: ${{ matrix.dir }}
          # https://github.com/golangci/golangci-lint-action/issues/244
          skip-cache: true

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Run tests
        if: github.actor != 'bors[bot]'
        run: make ci
  integration-test:
    name: Integration Tests
    strategy:
      fail-fast: false
      matrix:
        test-category:
          - integration-epochs
    env:
      TEST_CATEGORY: ${{ matrix.test-category }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Run tests
        if: github.actor != 'bors[bot]'
        run: ./tools/test_monitor/run-tests.sh
      - name: Run tests (Bors)
        if: github.actor == 'bors[bot]'
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 15
          max_attempts: 2
          command: ./tools/test_monitor/run-tests.sh


